html {
  height: 100%;
  width: 100%;
  --color-texto-primario-light: #000000;
  --color-texto-secundario-light: #3D3D3D;
  --subtitle-section-font: 'Abhaya Libre', serif;
  --text-font: 'Comic Neue', cursive;

}

nav {
  min-height: 7rem;
}


.bienvenida {

  background: url(img/bg/About-stfy\ copiaFINAL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--color-texto-secundario-light);
  text-shadow: 3px 3px 5px var(--color-bienvenido-light);
  height: calc(100vh - 7rem);
  overflow-y:hidden;  

}

.bienvenida h1 {
  font-size: 13vw;
  font-weight: 700;
  font-family: 'Ephesis', cursive;
}

.bienvenida p {
  font-size: 4vw;
}

.bienvenida i {
  font-size: 20vw;
  text-shadow: 2px 2px 5px var(--color-texto-secundario-light);
}

@media (min-width:767px) {
  .bienvenida {
    background-position: top right;
  }

  .bienvenida h1 {
    font-size: 10vw;
    font-family: 'Ephesis', cursive;
  }

  .bienvenida i {
    font-size: 15vw;
  }

}


.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}




.scale-in-center {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.subtitulo {
  font-family: var(--subtitle-section-font);
  font-size: 44px;
  /* text-shadow: 2px 2px 5px; */
  color: var(--color-texto-primario-light);
  background-color: #f7c922;
  border-radius: 0 0 10px 10px;
}


#destacados .carta:hover {
  box-shadow: 5px 5px 10px var(--color-texto-secundario-light);
  /* transform: translateY(-10px); */
}



#destacados .carta {
  height: fit-content;
  width: 16rem;
  overflow: hidden;
  border-radius: 7px;
  transition: 0.5s;
}

#destacados .carta img {
  height: 16rem ;
  width: 100%;

  transition: 0.5s;
}

#destacados .carta img:hover {
  transform: scale(1.1);

}

#destacados p {
  padding: 0.5rem;
  width: fit-content;
  background-color: #f7c922;
  border-radius: 5px;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media (min-width:767px) {
  #destacados .carta {
    height: fit-content;
    width: 24rem;
  }

  #destacados .carta img {
    height: 24rem;
    width: 100%;

  }
}


#servicios .card {
  box-shadow: 5px 5px 10px var(--color-texto-secundario-light);

}



#empresa {
  /* background: url(img/bg/About-stfy\ copiaFINAL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; */
  max-height: fit-content;
  font-family: var(--text-font);
  color: var(--color-texto-secundario-light);
}

#empresa i {
  font-size: 5rem;
  padding: 1rem;
}



footer div {
  padding: 2rem;
}

footer h3+p {
  margin-bottom: 2rem;
}

footer span i {
  font-size: 1.5rem;
  margin: 0.5rem;
}



footer span:hover {
  background-color: #f9dda4;
  width: fit-content;
  border-radius: 5px;
}

footer img {
  width: 80%;
}

footer a,
footer i {
  text-decoration: none;
  color: var(--color-texto-primario-light)
}

#footer img {
  width: 3rem;
  aspect-ratio: 1/1;
}





.color {
  color: rgb(173, 95, 236);
}

#flecha-arriba {
  background-color: rgb(199, 152, 237);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#flecha-arriba a {
  text-decoration: none;
  color: white;
}

.separador span {
  width: 2%;
  height: 2px;
  background-color: black;
  margin: 2px;

}
/* carrusel fondos */

.carousel-item{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(247,201,34,0.7064950980392157) 100%, rgba(215,133,50,0.5) 100%);
}