.contenedor-notfound{
    height: 80vh;
}

footer img {
    width: 50px;
    aspect-ratio: 1/1;
  }
  main{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  main i{
    font-size: 12rem;
    margin: 4rem;
    animation: girar 4s linear infinite;
    
  }
  main i:last-child{
    
  }

  @keyframes girar {
    from{
        transform: rotate(0);
        
    }
    to{
         transform: rotate(360deg);   
    }
  }